{% extends 'layout.html' %}        

{% block title %}
    Articulos
{% endblock %}


{% block content %}
    <h1>Articulos template</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert-success col-md-4 text-center rounded p-3">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    {{mi_variable}}
    <br/>
    {{nombre}}

    <ul>
    {% for articulo in articulos%}
        <li>{{articulo.id}}-{{articulo.title}}
    {% endfor %}
    </ul>
{% endblock %}
